<div class="card mt-5">
    <div class="card-body">
      <div class="mt-4">
        <h2 class="heading">Filtra noticias por pais y categoria</h2>
        <div class="row mt-3">
            <div class="col-lg-8 offset-lg-2">
                <form (ngSubmit)="searchNew()">
                    <div class="form-group">
                        <select name="categoria" class="form-select" [(ngModel)]="selected_category">
                            <option [value]="i.value" *ngFor="let i of categories">{{i.name}}</option>
                        </select>
                      </div>
                      <div class="form-group mt-3">
                        <select name="pais" class="form-select" [(ngModel)]="selected_country">
                            <option [value]="i.value" *ngFor="let i of countries">{{i.name}}</option>
                        </select>
                      </div>
                      <button class="btn btn-primary mt-3" type="submit" style="width: 100%;">Buscar</button>
                </form>
            </div>
        </div>
      </div>
    </div>
  </div>
  